// Variable overrides
$primary: #ff8b2a !default;
//$secondary : #ffffff !default;
//$--color : #ff8b2a !default;
$sidebar-dark-bg : #ff8b2a !default;
$sidebar-dark-nav-link-hover-bg : #ffa860 !default;
$header-light-bg : #a12f35 !default;
//$sidebar-dark-nav-tabs-link-active-border-color: #ff8b2a !default;
$light: #ffedee !default;
